* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: white;
}

.container {
    margin: 30px 80px;
}

.header p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.selfies {
    position: absolute;
    top: 0;
    right: 70px;
}

.selfies img {
    padding: 5px;
    margin: 20px 0;
    width: 100px;
    height: 120px;
    border-radius: 20px;
}

.main {
    margin-top: 40px;
}

.info {
    text-align: center;
}

.info .team {
    font-size: 17px;
    font-weight: bold;
}

.info .team span.teammate {
    color: #dfce0d;
}

.labs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.lab {
    border: 1px solid #dfce0d;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 5px;
}

.lab:hover {
    background-color: #867b38;
    cursor: pointer;
    box-shadow: 0 0 10px #dfce0d;
}

.current-lab-info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.8fr 3.6fr;
}

.lab-nav {
    display: flex;
    flex-direction: column;
}

.lab-nav .chapter {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 5px;
    height: 90px;
    padding: 0 15px;

    border: 1px solid #dfce0d;
    border-radius: 10px;
}

.lab-nav .chapter:hover {
    box-shadow: -7px 5px 6px #9b8c20;
}

.lab-out {
    margin: 5px 5px;
    border: 3px solid #dfce0d;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.make-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}