table {
    border-width: 2px;
    border-color:red;
    height: 800px;
    text-align:center;
}

td {
    text-align: center;
}

.custom-td-1 {
    background-color: gold;
    height: 15%;
}
.custom-td-2 {
    width:20%;
    background-color: blue;
}
.custom-td-3 {}
.custom-td-red {
    height: 10%;
    background-color: red;
}
.custom-td-4 {
    width: 20%;
    margin: 20px;
    background-color: blue;
}
.custom-td-6 {
    height: 15%;
    background-color: gold;
}

.custom-tr-1 {
    height: 70%;
}